    <nav class="main-nav">
        <a href="{{relative}}/blog">Archive</a>
        <a href="{{relative}}/tags">Tag</a>
        <a href="{{relative}}/about/">About</a>
        <a class="cta" href="{{github}}">GitHub</a>
    </nav>
    {{#avatar}}
              </div>
              <img class="avatar" src="{{avatar}}" />
    {{/avatar}}
