 <head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon"
          type="image/png"
          href="/media/wow.png">
    <title>{{page-title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{author}}" />
    {{#description}}
    <meta name="description" content="{{description}}" />
    {{/description}}
    {{#keywords}}
    <meta name="keywords" content="{{keywords}}" />
    {{/keywords}}
    <style>
     @font-face {
         font-family: 'Ilisarniq';
         font-display: swap;
         src: local('Ilisarniq'),  url("/Ilisarniq-Regular.woff2") format('woff2');
     }
     @font-face {
         font-family: 'Ilisarniq';
         font-style: italic;
         font-display: swap;
         src: local('Ilisarniq'),  url("/Ilisarniq-Italic.woff2") format('woff2');
     }
     @font-face {
         font-family: 'Ilisarniq';
         font-weight: bold;
         font-display: swap;
         src: local('Ilisarniq'),  url("/Ilisarniq-Bold.woff2") format('woff2');
     }
     body {
         font-family: Ilisarniq , sans-serif;
     }
    </style>
    <link rel="stylesheet" href="/media/css/main.css" type="text/css">
    <link rel="stylesheet" href="/media/css/prettify.css" type="text/css">
  </head>
