 <head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon"
          type="image/png"
          href="/media/wow.png">
    <title>{{page-title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{author}}" />
    {{#description}}
    <meta name="description" content="{{description}}" />
    {{/description}}
    {{#keywords}}
    <meta name="keywords" content="{{keywords}}" />
    {{/keywords}}
    <link rel="stylesheet" href="/media/css/bulma/bulma.min.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Domine&family=Lora&family=Merriweather&family=Patrick+Hand&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/media/css/ilisarniq-font.css" type="text/css" >
    <link href="/media/css/blog.css" rel="stylesheet">
  </head>
