 <head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon"
          type="image/png"
          href="/media/wow.png">
    <title>{{page-title}}</title>
    <meta property="og:title" content="{{page-title}}" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{author}}" />
    {{#description}}
    <meta name="description" content="{{description}}" />
    <meta property="og:description" content="{{description}}" />
    {{/description}}
    {{#keywords}}
    <meta name="keywords" content="{{keywords}}" />
    {{/keywords}}
    <link rel="stylesheet" href="/media/css/bulma/bulma.min.css" type="text/css">
    <link rel="stylesheet" href="/media/css/ilisarniq-font.css" type="text/css" >
    <link rel="stylesheet" href="/media/css/domine-font.css" type="text/css" >
    <link href="/media/css/blog.css" rel="stylesheet">
    <meta name="twitter:dnt" content="on">
    <meta name="twitter:widgets:border-color" content="#0f0">
    <link rel="canonical" href="/">
    <script src="/media/js/menu-mobile.js"></script>
    <script src="/media/js/twt.js"></script>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@yusairakhan" />
    <meta property="og:url" content="./" />
    <meta property="og:image" content="https://media.wired.com/photos/5f87340d114b38fa1f8339f9/master/w_1600%2Cc_limit/Ideas_Surprised_Pikachu_HD.jpg" />
  </head>
