    <div>{{! nav }}
        <header class="masthead navbar" aria-label="main navigation">
            <div class="navbar-brand">
                <h1 class="masthead-title navbar-item is-size-2"><a href="/blog/">{{site-main-title}}</a></h1>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navMenu" class="navbar-menu is-size-3">
                <div class="navbar-start">
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <a href="/">Home</a>
                    </div>
                    <div class="navbar-item">
                        <a href="{{github}}">GitHub</a>
                    </div>
                    <div class="navbar-item">
                        <a href="/rss.xml">RSS</a>
                    </div>
                </div>
            </div>
        </header>
    </div>
