<div>{{! content, do NOT indent}}
<div class="post">
<div class='hero'>
<div class='hero-body'>
{{#title}}
<h1 class='title is-size-1'> {{#title}} </h1>
{{/title}}
</div>
</div>
<div class="section is-size-3-desktop is-size-4-touch">
{{{content}}}
</div>
</div>
</div>
